<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/admincss/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Admin Dashboard</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            
                            <!-- Employee Information Nav Start-->
                            <div class="sb-sidenav-menu-heading">Dashboard</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Employee
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" onclick="show(3)" cursor="pointer">Employee List</a>
                                </nav>
                            </div>

                            <!-- Employee Information Nav End-->


                            <!-- Ferry Information Nav Start-->

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFerry" aria-expanded="false" aria-controls="collapseFerry">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Ferry
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFerry" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" onclick="show(4)" cursor="pointer">Ferry List</a>
                                </nav>
                            </div>

                            <!-- Ferry Information Nav End-->
                            
                            <!-- Ticket Information Nav Start-->

                            <a class="nav-link" href="#" onclick="show(5)">Ticket </a>

                            <!-- Ticket Information Nav End-->
                            
                        </div>
                    </div>
                </nav>
            </div>


            <!-- Content Section Start -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">

                        <!-- Employee List Start -->

                        <div id="employeeList" style="min-height: 100vh;background-image: url(image/ferry_table.jpg);background-repeat: no-repeat;background-size: cover;overflow: hidden;width: 100%;display: none;">
                            <h1 style="text-align: center;color: black;margin-top: 30px;">Employee Information</h1>
                            <div >
                                <table class="table" style="color: black;margin-top: 30px; width: 80%;margin: auto;">
                                    <thead>
                                        <tr>
                                            <th>Serial</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Password</th>
                                            <th>Join Date</th>
                                            <th>Birth Date</th>
                                            <th>Contact</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Dhaka</td>
                                            <td>mark@gmail.com</td>
                                            <td>s1234</td>
                                            <td>14/01/2022</td>
                                            <td>14/05/1987</td>
                                            <td>01754726315</td>
                                            <td><a href="#" class="btn btn-primary">Edit</a></td>
                                            <td><a href="#" class="btn btn-danger">Delete</a></td>
                                            <td><a href="#" class="btn btn-primary">Profile</a></td>
                            
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Mark</td>
                                            <td>Dhaka</td>
                                            <td>mark@gmail.com</td>
                                            <td>s1234</td>
                                            <td>14/01/2022</td>
                                            <td>14/05/1987</td>
                                            <td>01754726315</td>
                                            <td><a href="#" class="btn btn-primary">Edit</a></td>
                                            <td><a href="#" class="btn btn-danger">Delete</a></td>
                                            <td><a href="#" class="btn btn-primary">Profile</a></td>
                            
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Mark</td>
                                            <td>Dhaka</td>
                                            <td>mark@gmail.com</td>
                                            <td>s1234</td>
                                            <td>14/01/2022</td>
                                            <td>14/05/1987</td>
                                            <td>01754726315</td>
                                            <td><a href="#" class="btn btn-primary">Edit</a></td>
                                            <td><a href="#" class="btn btn-danger">Delete</a></td>
                                            <td><a href="#" class="btn btn-primary">Profile</a></td>
                            
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Mark</td>
                                            <td>Dhaka</td>
                                            <td>mark@gmail.com</td>
                                            <td>s1234</td>
                                            <td>14/01/2022</td>
                                            <td>14/05/1987</td>
                                            <td>01754726315</td>
                                            <td><a href="#" class="btn btn-primary">Edit</a></td>
                                            <td><a href="#" class="btn btn-danger">Delete</a></td>
                                            <td><a href="#" class="btn btn-primary">Profile</a></td>
                            
                                        </tr>
                                        
                                    </tbody>
                            
                                </table>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col" style="min-width: 30%;"></div>
                                    <div class="col" style="min-width: 30%;"></div>
                                    <div class="col" style="min-width: 30%;text-align: end;"><button onclick="show(1)" class="btn btn-primary me-md-5" style="padding: 15px 20px;">Add Employee</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Employee List End -->


                        <!-- Ferry List Start -->

                        <div id="ferryList" style="min-height: 100vh;background-image: url(image/ferry_add.jpg);background-repeat: no-repeat;background-size: cover;overflow: hidden;width: 100%;display: none;">
                            <h1 style="text-align: center;color: black;margin-top: 30px;">Ferry Information</h1>
                            <table class="table" style="color: black;margin-top: 30px;">
                                <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>Ferry Name</th>
                                        <th>Route</th>
                                        <th>Schedule</th>
                                        <th>Date</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>A Ferry</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 am</td>
                                        <td>14 Jan 2022</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                                        <td><a href="#" class="btn btn-primary">About Fery</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>A Ferry</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 am</td>
                                        <td>14 Jan 2022</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                                        <td><a href="#" class="btn btn-primary">About Fery</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>A Ferry</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 am</td>
                                        <td>14 Jan 2022</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                                        <td><a href="#" class="btn btn-primary">About Fery</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>A Ferry</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 am</td>
                                        <td>14 Jan 2022</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                                        <td><a href="#" class="btn btn-primary">About Fery</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>A Ferry</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 am</td>
                                        <td>14 Jan 2022</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                                        <td><a href="#" class="btn btn-primary">About Fery</a></td>
                        
                                    </tr>
                                </tbody>
                        
                            </table>
                            <div class="row">
                                <div class="col" style="min-width: 30%;"></div>
                                <div class="col" style="min-width: 30%;"></div>
                                <div class="col" style="min-width: 30%;text-align: end;"><button onclick="show(2)" class="btn btn-primary me-md-4" style="padding: 10px 30px;">Add Ferry</button>
                                </div>
                            </div>
                        </div>

                        <!-- Ferry List End -->

                        <!-- Ticket Information Start -->

                        <div id="ticketInfo" style="min-height: 100vh;background-image: url(image/ticket.jpg);background-repeat: no-repeat;background-size: cover;overflow: hidden;width: 100%;display: none;">
                            <h1 style="text-align: center;color: black;margin-top: 30px;">Ticket Information</h1>
                            <table class="table" style="color: black;margin-top: 30px;">
                                <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>Ferry Name</th>
                                        <th>Ticket Type</th>
                                        <th>Ticket Number</th>
                                        <th>Route</th>
                                        <th>Time</th>
                                        <th>Date</th>
                                        <th>Ticket Price</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>A Ferry</td>
                                        <td>Bus</td>
                                        <td>7890</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 AM</td>
                                        <td>14 Jan 2022</td>
                                        <td>BDT. 100/=</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>B Ferry</td>
                                        <td>Truck</td>
                                        <td>7890</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 AM</td>
                                        <td>14 Jan 2022</td>
                                        <td>BDT. 100/=</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>C Ferry</td>
                                        <td>Bus</td>
                                        <td>7890</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 AM</td>
                                        <td>14 Jan 2022</td>
                                        <td>BDT. 100/=</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>D Ferry</td>
                                        <td>Bus</td>
                                        <td>7890</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 AM</td>
                                        <td>14 Jan 2022</td>
                                        <td>BDT. 100/=</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>A Ferry</td>
                                        <td>Bus</td>
                                        <td>7890</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 AM</td>
                                        <td>14 Jan 2022</td>
                                        <td>BDT. 100/=</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>A Ferry</td>
                                        <td>Bus</td>
                                        <td>7890</td>
                                        <td>Aricha to Paturia</td>
                                        <td>9.00 AM</td>
                                        <td>14 Jan 2022</td>
                                        <td>BDT. 100/=</td>
                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                        <td><a href="#" class="btn btn-danger">Delete</a></td>
                        
                                    </tr>
                                </tbody>
                        
                            </table>
                        </div>

                        <!-- Ticket Information End -->

                        <!-- Employee Registration Start -->

                        <div id="employeeRegistration" style="min-height: 100vh;background-image: url(image/ferry_table.jpg);background-repeat: no-repeat;background-size: cover;overflow: hidden;width: 100%;display: none;">


                            <h1 style="color:black;text-align:center;margin-top:30px">Register Employee</h1>
                            <form style="width: 60%;margin: auto;color: black;" onsubmit="show(3)">

                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Name</label>
                                    <input type="text" placeholder="Enter Your Name" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="addressInput" class="form-label">Address</label>
                                    <input type="text" placeholder="Enter Your Full Address" class="form-control" id="addressInput" aria-describedby="addressHelp" required>
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                                  <input type="email" placeholder="Enter Your Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Password</label>
                                  <input type="password" placeholder="Enter Password" class="form-control" id="exampleInputPassword1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                                    <input type="password" placeholder="Re-Type Password" class="form-control" id="exampleInputPassword1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control" id="exampleInputPassword1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Date of Join</label>
                                    <input type="date" class="form-control" id="exampleInputPassword1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Phone</label>
                                    <input type="tel" placeholder="Enter You Phone Number" class="form-control" id="exampleInputPassword1" pattern="[0-9]{11}" required>
                                </div>
                                <label for="gender">Gender</label>
                                <div class="mb-3 form-check">
                                    <input type="radio" class="form-check-input" id="exampleCheck1" name="gender" value="male" required>Male <br>
                                    <input type="radio" class="form-check-input" id="exampleCheck1" name="gender" value="female" required>FeMale
                                  </div>
                                <div class="mb-3">
                                    <label for="picture">Upload Picture</label>
                                    <input type="file" class="form-control" aria-label="picture" required>
                                    <div class="invalid-feedback">Example invalid form file feedback</div>
                                </div>
                                <div class="mb-3 form-check">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1" required>Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary mb-3">Register</button>
                              </form>
                        </div>

                        <!-- Employee Registration End -->

                        <!-- Ferry Registration Start -->

                        <div id="ferryRegistration" style="min-height: 100vh;background-image: url(image/add-ferr.jpg);background-repeat: no-repeat;background-size: cover;overflow: hidden;width: 100%;display: none;">


                            <h1 style="color:black;text-align:center;margin-top:30px">Register Ferry</h1>
                            <form style="width: 60%;margin: auto;color: black;" onsubmit="show(4)">

                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Ferry Name</label>
                                    <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Route</label>
                                    <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Schedule</label>
                                    <input type="time" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Date</label>
                                    <input type="date" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
                                    
                                </div>
                                
                                <button type="submit" class="btn btn-primary mb-3">Register</button>
                              </form>
                        </div>

                        <!-- Ferry Registration End -->

                    </div>
                </main>

                <!-- Content Section End -->
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Md Sazibur Rahman Website 2021</div>
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/adminjs/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/adminjs/datatables-simple-demo.js"></script>


        <script>
            let employeeList = document.getElementById('employeeList');
            let ferryList = document.getElementById('ferryList');
            let ticketInfo = document.getElementById('ticketInfo');
            let employeeRegistration = document.getElementById('employeeRegistration');
            let ferryRegistration = document.getElementById('ferryRegistration');

            function show(x){
                if(x==1){
                    employeeList.style.display = 'none';
                    ferryList.style.display = 'none';
                    ticketInfo.style.display = 'none';
                    employeeRegistration.style.display = 'block';
                    ferryRegistration.style.display = 'none';
                }
                if(x==2){
                    employeeList.style.display = 'none';
                    ferryList.style.display = 'none';
                    ticketInfo.style.display = 'none';
                    employeeRegistration.style.display = 'none';
                    ferryRegistration.style.display = 'block';
                }
                if(x==3){
                    employeeList.style.display = 'block';
                    ferryList.style.display = 'none';
                    ticketInfo.style.display = 'none';
                    employeeRegistration.style.display = 'none';
                    ferryRegistration.style.display = 'none';
                }
                if(x==4){
                    employeeList.style.display = 'none';
                    ferryList.style.display = 'block';
                    ticketInfo.style.display = 'none';
                    employeeRegistration.style.display = 'none';
                    ferryRegistration.style.display = 'none';
                }
                if(x==5){
                    employeeList.style.display = 'none';
                    ferryList.style.display = 'none';
                    ticketInfo.style.display = 'block';
                    employeeRegistration.style.display = 'none';
                    ferryRegistration.style.display = 'none';
                }
            }


        </script>
    </body>
</html>
